.jumbotron {
    display: flex;

    .left-jumbo {
        margin-top: 35px;
        height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: @grey-background;
        background-image: linear-gradient(to left, @grey-background, white);

        h2 {
            color: @secondary-grey;
            font-weight: 100;
        }

        p {
            color: @secondary-grey;
            margin-top: 30px;
            margin-bottom: 20px;
            width: 56.5%;
        }

        button {
            width: 58%;
            border-radius: 15px;
            background-color: @primary-blue;
            border: none;
            height: 40px;
            color: white;
            margin-top: 10px;
        }

        button:hover {
            box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }


    .chicago {
        width: 50%;
        height: 500px;
        margin-top: 35px;
    }
}